.header {
    display: flex;
    flex-direction: row;
    height: 55px;
    justify-content: space-between;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    border-bottom: 1px solid rgb(211, 211, 211);
}

.left-header {
    display: flex;
    align-items: center;

}

.middle-header {
    flex: 1;
    margin-left: 60px;
    margin-right: 35px;
    max-width: 500px;
    display: flex;
    align-items: center;
}

.right-header {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}

.hamburger-menu {
    height: 24px;
    margin-left: 24px;
    margin-right: 24px;
}

.youtube-logo {
    height: 20px;
}

.search-bar::placeholder {
    font-family: Roboto, Arial;
    font-size: 16px;
}

.search-bar {
    flex: 1;
    padding-left: 10px;
    height: 37px;
    font-size: 16px;
    border: 1px solid rgb(192, 192, 192);
    box-shadow: inset 1px 3px 3px rgb(0, 0, 0, 0.05);
    width: 0;
}

.search-icon {
    height: 25px;
}

.search-button {
    height: 40px;
    width: 66px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    margin-left: -1px;
    margin-right: 8px;
    cursor: pointer;
}

.voice-button, .search-button,
.upload-icon-container,
.youtube-app-icon-container,
.notification-icon-container
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.voice-button .tooltip,
.search-button .tooltip,
.upload-icon-container .tooltip,
.youtube-app-icon-container .tooltip,
.notification-icon-container .tooltip
{
    font-size: 12px;
    position: absolute;
    background-color: rgb(107, 107, 107);
    color: white;
    padding: 4px 8px 4px 8px;
    border-radius: 2px;
    bottom: -45px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
}

.search-button:hover .tooltip,
.voice-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.youtube-app-icon-container:hover .tooltip,
.notification-icon-container:hover .tooltip{
    opacity: 1;
}

.voice-button {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.voice-icon {
    height: 24px;

}

.upload-icon {
    height: 24px;
    cursor: pointer;
}

.youtube-app-icon {
    height: 24px;
    cursor: pointer;
}

.notification-icon {
    height: 24px;
}

.notification-icon-container {
    position: relative;
    cursor: pointer;
}

.count-notification {
    position: absolute;
    right: -6px;
    top: -2px;
    background-color: red;
    color: white;
    font-size: 10px;
    padding: 2px 5px 2px 5px;
    border-radius: 10px;
    border-color: white;
    border-style: solid;
    border-width: 2px;
}

.user-id-pic {
    height: 32px;
    border-radius: 16px;
    margin-right: 20px;
    cursor: pointer;
}