       body {
           margin: 0;
           padding-top: 81px;
           padding-left: 96px;
           padding-right: 24px;
           font-family: Roboto,Arial;
       }

       p {
           margin-top: 0px;
           margin-bottom: 0px;
       }

       .video-link{
        text-decoration: none;
        color: black;
       }

       .channel-link{
        text-decoration: none;
        color: rgb(96, 96, 96);
       }

       .video-title {
           font-weight: 500;
           font-size: 14px;
           line-height: 18px;
           margin-bottom: 12px;
       }

       .thumbnail-pic {
           width: 100%;
       }

       .video-grid {
           display: grid;
           grid-template-columns: 1fr 1fr 1fr 1fr;
           column-gap: 16px;
           row-gap: 40px;
       }

       @media (max-width:750px){
        .video-grid{
            grid-template-columns: 1fr 1fr;
        }
       }

        @media (min-width:551px) and (max-width:999px){
        .video-grid{
            grid-template-columns: 1fr 1fr 1fr;
        }
       }

        @media (max-width:1000 px){
        .video-grid{
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
       }
       

       .video-info-grid {
           display: grid;
           grid-template-columns: 50px 1fr;
       }

       .profile-pic {
           width: 36px;
           border-radius: 50px;
       }

       .thumbnail-row {
           margin-bottom: 12px;
           position: relative;
       }

       .video-author,
       .video-stats {
           font-size: 12px;
           color: rgb(96, 96, 96);
       }

       .video-author {
           margin-bottom: 4px;
       }

       .video-time {
           position: absolute;
           font-weight: 500;
           font-size: 12px;
           background-color: black;
           color: white;
           right: 5px;
           bottom: 14px;
           padding: 4px;
           border-radius: 3px;
       }
